<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Flask App</title>
</head>
<body>
    <h1 class="heading">Adding Movies</h1>
    <form method="POST">
        <input type="text" name="movie" placeholder="Enter the movie name">
        <input type="text" name="actor" placeholder="Enter the actor name">
        <input type="text" name="director" placeholder="Enter the director name">
        <input type="text" name="year" placeholder="Enter the release year">
        <input type="submit" value="submit">
    </form>
</body>
</html>

